/* RootLayOut.css */
.root-layout-container{
  min-height: calc(100vh);
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
  gap: 10px;
}

.root-layout-container {
  flex: 1; /* takes up the remaining space, pushes footer down */
}

@media (max-width : 766px) {
    .root-layout-container{
    padding: 0px 0px;
}
}